body {
  background-image: url("./images/people-working-feedback.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  margin: 0;
  font-family: "Rampart One", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.menu {
  width: 200px;
  height: 50px;
  background-color: blue;
}
ul {
  list-style: none;
}
